[submodule "utils/pybdsim"]
	path = utils/pybdsim
	url = https://bitbucket.org/nevay/pybdsim.git
[submodule "utils/pyfluka"]
	path = utils/pyfluka
	url = https://bitbucket.org/nevay/pyfluka.git
[submodule "utils/robdsim"]
	path = utils/robdsim
	url = https://bitbucket.org/nevay/robdsim.git
[submodule "utils/pymad8"]
	path = utils/pymad8
	url = https://bitbucket.org/stewartboogert/pymad8
[submodule "utils/pymadx"]
	path = utils/pymadx
	url = https://bitbucket.org/stewartboogert/pymadx
